{
    "env": {
        "test": {
            "presets": ["@babel/env"],
            "plugins": [
                "@babel/proposal-class-properties",
                "@babel/syntax-object-rest-spread",
                "istanbul",
                "add-module-exports"
            ]
        },
        "development": {
            "sourceMaps": "inline",
            "retainLines": true,
            "presets": ["@babel/env"],
            "plugins": [
                "@babel/proposal-class-properties",
                "@babel/syntax-object-rest-spread",
                "add-module-exports"
            ]
        },
        "module": {
            "presets": [["@babel/env", { "modules": false }]],
            "plugins": [
                "@babel/proposal-class-properties",
                "@babel/syntax-object-rest-spread"
            ]
        },
        "production": {
            "presets": ["@babel/env"],
            "plugins": [
                "@babel/proposal-class-properties",
                "@babel/syntax-object-rest-spread"
            ]
        }
    }
}
