name: build

on: [push]

jobs:
  # Run install in one step so deps can be cached for other steps
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN}}
      - uses: ./.github/actions/install-deps

  build:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - uses: ./.github/actions/build-cache
      - run: yarn build

  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - uses: ./.github/actions/build-cache
      - run: yarn lint

  test-types:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - uses: ./.github/actions/build-cache
      - run: yarn tsTest:custom && yarn tsTest:main

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - uses: ./.github/actions/build-cache
      - run: yarn test

  test-browser:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ false }} # disable for now
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - uses: ./.github/actions/build-cache
      - run: yarn test:browser --ci

  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - uses: ./.github/actions/build-cache
      - name: Prepare repository
        run: git fetch --unshallow --tags
      - name: Create Release
        run: |
          git remote rm origin
          git remote add origin https://$GH_TOKEN@github.com/jimp-dev/jimp
          yarn auto shipit -vv
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
